In [23]:
# Importing Packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics#Import scikit-learn metrics module for accuracy calculation
from sklearn.model_selection import train_test_split,cross_val_score
import seaborn as sns
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image 
from sklearn import tree
from sklearn import metrics
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier 
from sklearn.linear_model import LogisticRegression 
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore")

In [24]:
import pandas as pd
test = pd.read_csv("../data/data-science-london-scikit-learn/test.csv",header=None)
train = pd.read_csv("../data/data-science-london-scikit-learn/train.csv",header=None)
trainLabels = pd.read_csv("../data/data-science-london-scikit-learn/trainLabels.csv",header=None)

## Data Exploration

In [25]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [26]:
trainLabels.columns = ['Target']
# Make a crosstab
pd.crosstab(index=trainLabels['Target'].astype('category'), columns="count")

col_0   count
Target
0         490
1         510

In [27]:
train.iloc[:,0:10].describe()

,0,1,2,3,4,5,6,7,8,9
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.025596,-0.024526,-0.024088,-0.002271,1.092329,-0.006250,0.497342,-0.037883,0.026391,-0.003597
std,1.008282,1.016298,0.979109,0.970575,4.538834,0.989128,2.118819,2.232256,1.001064,1.013520
min,-3.365711,-3.492086,-2.695602,-3.460471,-16.421901,-3.041250,-7.224761,-6.509084,-3.145588,-2.749812
25%,-0.669010,-0.693937,-0.698830,-0.617557,-1.801997,-0.732265,-0.838619,-1.604037,-0.677562,-0.682220
50%,0.027895,-0.033194,0.008145,0.002327,0.862818,0.027041,0.582321,0.018809,0.022092,-0.036110
75%,0.762520,0.682753,0.661434,0.640743,3.843172,0.671456,1.913664,1.438304,0.741310,0.665364
max,3.326246,3.583870,2.546507,3.088738,17.565345,3.102997,7.592666,7.130097,3.145258,3.919426

In [28]:
Full_Data = pd.concat([train,trainLabels],axis=1)
Full_Data

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,Target
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050,1
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761,0
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436,0
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397,1
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.310429,0.826811,-0.952245,0.768850,1.877520,1.320646,1.944609,1.191420,-0.127724,0.070937,...,-0.383792,0.745596,-0.698598,-2.729937,-0.431535,0.372873,1.019092,-2.672811,-0.295141,0
996,-1.853879,0.246726,0.459921,-2.074267,7.599220,-0.138355,-4.501900,0.630634,-1.590533,-1.112949,...,0.240052,-0.856196,-0.072481,-2.935896,0.582411,-2.613407,0.036687,2.809310,4.412567,1
997,0.912748,-1.734039,-1.047035,0.217573,13.457812,0.162771,-2.250521,2.216161,-0.378326,0.642114,...,-1.073806,-2.754369,1.814864,-4.190105,-1.116441,-2.100125,0.061513,0.895536,0.813686,1
998,2.439780,-0.735511,-0.902426,1.365036,-10.430299,-0.856859,2.686474,0.292035,0.585388,-0.876965,...,-0.039488,0.773876,-0.916066,2.604827,-0.649874,-3.423674,0.229748,-2.311088,-3.422217,0
999,0.228994,-0.085453,0.876582,1.057401,-1.404015,-1.091965,0.639176,0.701332,-0.906577,-0.390940,...,1.024757,-1.796571,0.603161,0.862705,0.747234,3.275681,0.400372,-3.431031,2.370080,0

In [29]:
Mean_Sum = Full_Data.groupby('Target').agg('mean')
Mean_Sum["Type"] = "Mean"

Sum_Sum = Full_Data.groupby('Target').agg('sum')
Sum_Sum["Type"] = "Sum"

Sum_By_Target = pd.concat([Mean_Sum,Sum_Sum])
Sum_By_Target

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,Type
Target,,,,,,,,,,,,,,,,,,,,,
0,0.054444,0.029521,-0.018480,0.005091,0.395078,-0.021531,1.043908,-0.130123,-0.011923,-0.031336,...,0.010231,-0.023950,0.044617,-0.994239,0.020502,1.093625,-0.033207,-0.852061,0.057452,Mean
1,-0.002121,-0.076453,-0.029477,-0.009345,1.762237,0.008432,-0.027790,0.050740,0.063203,0.023055,...,0.035173,-1.040697,-0.065628,0.007196,0.045736,0.061389,0.045335,-0.931664,1.139802,Mean
0,26.677403,14.465147,-9.054970,2.494402,193.588323,-10.550099,511.514723,-63.760229,-5.842099,-15.354728,...,5.012949,-11.735409,21.862273,-487.177104,10.045772,535.876282,-16.271405,-417.510123,28.151695,Sum
1,-1.081741,-38.991166,-15.033230,-4.765837,898.740750,4.300317,-14.172647,25.877468,32.233306,11.757929,...,17.938100,-530.755365,-33.470155,3.669715,23.325572,31.308508,23.120622,-475.148587,581.298922,Sum

In [30]:
Full_Data[Full_Data['Target'] == 0].describe()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,Target
count,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,...,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.0
mean,0.054444,0.029521,-0.018480,0.005091,0.395078,-0.021531,1.043908,-0.130123,-0.011923,-0.031336,...,0.010231,-0.023950,0.044617,-0.994239,0.020502,1.093625,-0.033207,-0.852061,0.057452,0.0
std,1.008038,1.051546,1.008865,0.978016,3.678080,0.967029,1.859707,2.288477,1.013071,1.015845,...,0.998258,2.244383,1.050458,2.076177,1.019922,2.168629,0.993341,2.134526,2.206158,0.0
min,-3.292973,-3.246148,-2.695602,-3.460471,-10.430299,-2.529095,-4.917878,-6.509084,-3.145588,-2.749812,...,-2.888757,-7.337310,-2.673763,-7.124105,-2.702861,-4.695686,-3.473913,-7.009851,-7.799086,0.0
25%,-0.655482,-0.642070,-0.676792,-0.603079,-1.993495,-0.733963,-0.221462,-1.698165,-0.745314,-0.698591,...,-0.676968,-1.440447,-0.554483,-2.437728,-0.652174,-0.382784,-0.679502,-2.309224,-1.323898,0.0
50%,0.044081,0.043185,0.022778,0.039727,0.342943,-0.022309,1.007830,-0.073496,-0.047562,-0.070368,...,0.054289,-0.070747,0.026050,-1.037451,-0.010339,1.161730,-0.030603,-0.831750,0.284959,0.0
75%,0.752642,0.726178,0.669137,0.641194,2.723414,0.680876,2.194144,1.333952,0.655293,0.587955,...,0.706534,1.534039,0.696727,0.437073,0.693674,2.574531,0.625848,0.539127,1.607041,0.0
max,3.326246,3.001647,2.524309,3.088738,10.624851,3.102997,7.592666,7.130097,3.145258,3.919426,...,3.688047,7.160379,3.353631,6.005818,3.420561,6.603499,2.615390,5.774120,5.585959,0.0

## Data Splitting

In [31]:
##trying to combine predictor(x) and traget(y), as both are store in differnt varible and combing both will give entire 
##training data which will also include target variable.

X,y = train,np.ravel(trainLabels)

##spliting training data into train set and test set. train set has 70% of data while test set has 30% of data. 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## Regularized Logistic Regression (using scaled data)

In [32]:
scaled_logistic_pipe = Pipeline(steps = [('sc', StandardScaler()),('classifier', LogisticRegression())])

#scaled_logistic_param_grid = { "classifier__penalty": ['l2','l1'], "classifier__C": np.logspace(0, 4, 10)}

C = np.logspace(-4, 4, 50)

# Create a list of options for the regularization penalty
penalty = ['l2']

# Create a dictionary of all the parameter options 
# Note has you can access the parameters of steps of a pipeline by using '__’
scaled_logistic_param_grid = dict(classifier__C=C, classifier__penalty=penalty)

np.random.seed(1)

scaled_logistic_grid_search = GridSearchCV(scaled_logistic_pipe, scaled_logistic_param_grid, cv=10)

scaled_logistic_grid_search.fit(X_train, y_train)

scaled_logistic_model = scaled_logistic_grid_search.best_estimator_

print('Cross Validation Score:', scaled_logistic_grid_search.best_score_)

print('Best Hyperparameters:  ', scaled_logistic_grid_search.best_params_)

print('Training Accuracy:     ', scaled_logistic_model.score(X_train, y_train))

Cross Validation Score: 0.8099999999999999
Best Hyperparameters:   {'classifier__C': 0.004291934260128779, 'classifier__penalty': 'l2'}
Training Accuracy:      0.8171428571428572

## KNN Model with Unscaled Data

In [33]:
unscaled_knn_pipe = Pipeline(steps = [('classifier', KNeighborsClassifier())])

unscaled_knn_param_grid = {'classifier__n_neighbors': range(1,10),'classifier__p': [1,2,3]}

np.random.seed(1)

unscaled_knn_grid_search = GridSearchCV(unscaled_knn_pipe, unscaled_knn_param_grid, cv=10, refit='True')

unscaled_knn_grid_search.fit(X_train, y_train)

unscaled_knn_model = unscaled_knn_grid_search.best_estimator_

print('Cross Validation Score:', unscaled_knn_grid_search.best_score_)

print('Best Hyperparameters:  ', unscaled_knn_grid_search.best_params_)

print('Training Accuracy:     ', unscaled_knn_model.score(X_train, y_train))

Cross Validation Score: 0.8771428571428572
Best Hyperparameters:   {'classifier__n_neighbors': 6, 'classifier__p': 2}
Training Accuracy:      0.9257142857142857

## KNN (using scaled data)

In [34]:
scaled_knn_pipe = Pipeline(steps = [('sc', StandardScaler()),('classifier', KNeighborsClassifier())])

scaled_knn_param_grid = {'classifier__n_neighbors': range(1,10),'classifier__p': [1,2,3]}

np.random.seed(1)

scaled_knn_grid_search = GridSearchCV(scaled_knn_pipe, scaled_knn_param_grid, cv=10, refit='True')

scaled_knn_grid_search.fit(X_train, y_train)

scaled_knn_model = scaled_knn_grid_search.best_estimator_

print('Cross Validation Score:', scaled_knn_grid_search.best_score_)

print('Best Hyperparameters:  ', scaled_knn_grid_search.best_params_)

print('Training Accuracy:     ', scaled_knn_model.score(X_train, y_train))

Cross Validation Score: 0.8299999999999998
Best Hyperparameters:   {'classifier__n_neighbors': 8, 'classifier__p': 1}
Training Accuracy:      0.8814285714285715

## Decision Tree (using unscaled data)

In [35]:
unscaled_tree_pipe = Pipeline(steps = [('decisiontree', DecisionTreeClassifier())])

#Create lists of parameter for Decision Tree Classifier
criterion = ['gini', 'entropy']
max_depth = [1,2,3,4,5,6,7,8,9,10,11,12]
    
unscaled_tree_param_grid = dict(decisiontree__criterion=criterion,decisiontree__max_depth=max_depth)

np.random.seed(1)

unscaled_tree_grid_search = GridSearchCV(unscaled_tree_pipe, unscaled_tree_param_grid, cv=10)

unscaled_tree_grid_search.fit(X_train, y_train)

unscaled_tree_model = unscaled_tree_grid_search.best_estimator_

print('Cross Validation Score:', unscaled_tree_grid_search.best_score_)

print('Best Hyperparameters:  ', unscaled_tree_grid_search.best_params_)

print('Training Accuracy:     ', unscaled_tree_model.score(X_train, y_train))

Cross Validation Score: 0.77
Best Hyperparameters:   {'decisiontree__criterion': 'gini', 'decisiontree__max_depth': 4}
Training Accuracy:      0.8671428571428571

## Random Forest (using unscaled data)

In [36]:
unscaled_rf_pipe = Pipeline([("classifier", RandomForestClassifier())])
unscaled_rf_param_grid = {
                 "classifier__n_estimators": [10, 100, 200],
                 "classifier__max_depth":[5,8,15,25,30,None],
                 "classifier__min_samples_leaf":[1,2,5,10,15,100],
                 "classifier__max_leaf_nodes": [2, 5,10]}
unscaled_rf_grid_search = GridSearchCV(unscaled_rf_pipe, unscaled_rf_param_grid, cv=5, verbose=0,n_jobs=-1)

unscaled_rf_grid_search.fit(X_train, y_train)

unscaled_rf_model = unscaled_tree_grid_search.best_estimator_

print('Cross Validation Score:', unscaled_rf_grid_search.best_score_)

print('Best Hyperparameters:  ', unscaled_rf_grid_search.best_params_)

print('Training Accuracy:     ', unscaled_rf_model.score(X_train, y_train))

Cross Validation Score: 0.8371428571428572
Best Hyperparameters:   {'classifier__max_depth': 8, 'classifier__max_leaf_nodes': 10, 'classifier__min_samples_leaf': 2, 'classifier__n_estimators': 100}
Training Accuracy:      0.8671428571428571

## Evaluating Model

In [37]:
final_model = KNeighborsClassifier(n_neighbors = 6)
final_model.fit(train, trainLabels)
y_pred_knn=final_model.predict(X_test)
print("Training final: ", final_model.score(train, trainLabels))
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_knn))

Training final:  0.938
Accuracy: 0.9466666666666667

In [38]:
pred_test = final_model.predict(test)
pred_test[:5]
pred_test.shape

(9000,)

In [39]:
submission = pd.DataFrame(pred_test)
submission.columns = ['Solution']
submission['Id'] = np.arange(1,submission.shape[0]+1)
submission = submission[['Id', 'Solution']]
submission.head()

   Id  Solution
0   1         1
1   2         0
2   3         1
3   4         0
4   5         0

In [40]:
filename = 'London.csv'

submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: London.csv